extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio
    p My bootcamp projects


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

       
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/images/th${project.id}.png`, alt='')
            h5 #{project.project_name}

